/* Free font: https://www.dafont.com/good-brush.font?text=Miso+Hungry*/
@font-face {
  font-family: Brush;
  src: url('./fonts/brush.ttf')
}

@font-face {
  font-family: Marimpa;
  src: url('./fonts/Marimpa.ttf')
}

@font-face {
  font-family: GroteskBold;
  src: url('./fonts/Grotesk.ttf')
}

@font-face {
  font-family: GroteskReg;
  src: url('./fonts/GroteskReg.ttf')
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaecee;
  overflow-y: scroll;
}


html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* ::-webkit-scrollbar {
  display: none;
} */

button {
  cursor: pointer;
}

.home-container {
  width: 100vw; 
  height: 80vh;
  box-sizing: border-box;
  /* background-color: #0a3339; */

  background-image: url('./images/shortPattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.home-container h1 {
  font-size: min(max(5vw, 70px), 150px);
  font-family: GroteskBold;
  color: white;
  margin-top: 3vh;
}

.home-container h4 {
  font-size: min(max(2vw, 20px), 150px);
  font-family: GroteskReg;
  color: white;
  margin-top: -3.8%;
}

.home-container button {
  background-color: rgb(15, 12, 10);
  border: none;
  border-radius: 8px;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: -1%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.home-container button a {
  color: rgb(252, 250, 250);
  font-family: GroteskBold;
  font-size: min(max(1.5vw, 20px), 25px);
  text-decoration: none;
  font-weight: bold;
}

.home-container p {
  color: #b5bbc2;
}

.home-container button:hover {
  background-color: rgb(37, 31, 26);
}

.home-container a {
  color: white;
}

.to-learn a:hover {
  color: lightslategray;
}

.footer-container {
  width: 100vw; 
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.691);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center; 
}

.footer-container img {
  margin-top: 15%;
  width: min(max(5%, 50px), 70px);
}
/*------------------------*/

/* Added rule for diet-filter buttons */
.filter-bar .filter-button.diet-filter {
  width: 120px;
  justify-content: center;
}

.input-box {
  height: 68vh;
  width: 80vw;
  gap: 10px;
  padding: 20px;
  margin-top: -2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  align-content: center;
  justify-content: center;
  size: 3rem;
  
  background-image: url('./images/pot.png');
  background-size: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-position: bottom;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
}

.input-search {
  display: flex;
  flex-direction: row;
  height: 30px;
  gap: 20px;
}

.input-ingredients,
.input-button {
  height: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

.input-ingredients{
  font-size: 1.3rem;
}


.input-ingredients {
  width: 50vw;
  height: 200%;
  border: 2px solid rgb(196, 192, 192);
  border-radius: 10px;
  text-align: center;
  caret-color: transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.input-button {
  height: 100%; 
  width: 80px;
  border-radius: 10px;
  font-family: GroteskReg;
  margin-top: 2%;
}

.addButton {
  background-color: #2ecc71;
  border-color: #2ecc71;
  position: relative;
}

.removeButton {
  background-color: #FA003F;
  border-color: #FA003F;
  position: relative;
}

.form-header {
  font-size: 3.5rem;
  font-family: GroteskBold;
}

.form-container {
  width: 100vw; 
  height: 80vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-color: #eaecee;
  /* background-image: url('./images/halfPattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.filter-bar {
  /* background-color: rgb(35, 30, 26); */
  width: min(max(60%, 200px), 1000px);
  height: min(max(15%, 50px), 70px);
  font-family: GroteskReg;

  margin-bottom: 10px;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; 
}

.filter-bar .filter-button {
  height: 47px;
  border: 1.7px solid grey;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(34, 33, 33);
  font-family: GroteskReg;
  padding: 5px 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.filter-bar button {
  font-size: min(max(1.3vw, 15px), 25px);
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  margin-top: 5%;
  
  opacity: 0.5; 
  transition: background-color 0.3s, opacity 0.3s;
}

.filter-bar button.selected {
  opacity: 1;
  background-color: #ffffffdd;
  border: 2px solid grey;
}

.filter-bar button:hover {
  opacity: 1; 
  cursor: pointer;
}

.filter-bar button:focus {
  outline: none;
}

.filter-bar p {
  font-size: min(max(1.3vw, 13px), 15px);
  color: black;
}

.filter-nationality {
  height: 47px;
  align-self: center;
  margin-left: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(34, 33, 33);
  border: 1.5px solid grey;
  border-radius: 8px;
  padding: 5px 10px;
  font-family: GroteskReg;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 5%;
  font-size: 1rem;
}

.filter-cal {
  height: 47px !important;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  border: 1.5px solid grey;
  border-radius: 8px;
  padding: 5px 10px;
  font-family: GroteskReg;
  font-size: 14px;
  -moz-appearance: textfield;
  box-sizing: border-box;
  text-align: center;
  margin-top: 5%;
  font-size: 1rem;
}

.filter-cal::-webkit-outer-spin-button,
.filter-cal::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input {
  width: min(max(60%, 200px), 1000px);
  height: min(max(30%, 100px), 200px); /* height: min(max(60%, 100px), 400px); for full size */
}

.submit-button {
  background-color: rgb(45, 43, 42);
  border: 1px solid;
  border-radius: 8px;
  font-size: 1rem;

  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: -1%;
  margin-bottom: 10%;
  transition: background-color 0.3s;
  color: white;
  transition: color 0.3s ease-in-out;
}

.submit-button a{
  font-size: min(max(1.3vw, 15px), 25px);
  color: white;
}

.submit-button:hover {
  background-color: rgb(64, 62, 62); 
  border: 1px solid rgba(56, 50, 50, 0.3);
}

.form-submit {
  width: 100vw; 
  height: 100vh;
  box-sizing: border-box;
  background-color: #eaecee;

  display: flex;
  flex-direction: column;
  align-items: center; 
  /* background-image: url('./images/fullPattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.form-container p {
  color: rgb(45, 43, 42);
  font-family: GroteskReg;
}

.error-message {
  margin-top: -8%;
  margin-bottom: 10%;
}

/*------------------------*/

.learn-container {
  width: 100vw; 
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  /* background-image: url('./images/shortPattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.learn-header {
  margin-top: 2%;
}

.learn-container h1 {
  font-size: min(max(5vw, 50px), 150px);
  color: rgb(15, 12, 10);
  font-family: GroteskBold;
}

.learn-container h4 {
  font-size: min(max(1vw, 20px), 150px);
  color: rgb(15, 12, 10);
  font-family: GroteskReg;
  margin-top: -3.4%;
}

.learn-instructions {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instruction-container{
  width: 70%;
  max-height: 200px;
  margin-top: -2%;
  aspect-ratio: 16/4;
  background-color: rgb(42, 52, 76);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: row;

  transition: transform 0.3s ease;
}

.instruction-container:hover{
  transform: scale(1.03);
}

.instruction-container h1 {
  font-family: GroteskBold;
  color: #eaecee;
}

.instruction-container img {
  width: 150px;
  height: 150px;
}

.i-left {
  width: 60%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-left h4 {
  font-family: GroteskReg;
  font-size: 1.8rem;
  margin-top: 9.5%;
  margin-left: 3%;
  margin-right: 5%;
  color: #eaecee;
}

.i-right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-left-2 {
  width: 20%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right-2 {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right-2 h4 {
  font-family: GroteskReg;
  font-size: 1.8rem;
  text-align: right;
  margin-top: 9.5%;
  margin-left: 3%;
  margin-right: 5%;
  color: #eaecee;
}

.learn-container a {
  color: #333;
}

.learn-container a:hover {
  color: darkred;
}

/*------------------------*/

.logo-container {
  width: 100%;
  height: 8vh;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  position: fixed;
  padding-left: .5vh;
  padding-top: .5vh;
}

.logo-container img {
  width: min(max(5%, 50px), 70px);
  padding-left: .5vh;
  padding-top: 1vh;
}

/*------------------------*/

.result-container {
  width: min(max(50%, 200px), 900px);
  max-height: 180px;
  border-radius: 8px;
  padding: 2%;
  margin-top: -20px;
  margin-bottom: 60px;
  font-family: GroteskBold;

  display: flex;
  background-color: #eaecee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.result-container:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.result-left {
  width: 60%;
  display: flex;
  margin-inline: 5%;
  font-size: 2vh;
  flex-direction: column;
  justify-content: center;
}

.result-left a {
  text-decoration: none;
}

.result-right {
  width: 40%;
  display: flex;
  margin-inline: 5%;
  justify-content: center;
  align-items: center;
  margin-inline: 5%;
}

.result-image {
  width: 100%;
  max-height: 10px; 
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.result-filters {
  width: 100%;
  margin-top: -8%;
  
  display: flex;
  flex-direction: row;
}

.result-filters h4{
  margin-right: 10%;
}

/*------------------------*/
.recipe-page {
  width: 100vw;
  height: auto;
  margin-bottom: 10vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url('./images/halfPattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.recipe-title {
  font-size: min(4vw, 60px);
  font-weight: bold;
  text-align: left;
  margin-top: 5%;
}

.recipe-title a {
  color: #eaecee;
  font-family: GroteskBold;
  transition: color 0.3s ease-in-out;
}

.recipe-title a:hover {
  color: #ff6347;
}

.recipe-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 90vh;

  border-radius: 8px;
}

.recipe-wrapper {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

  background-color: #252c40;
  box-shadow: 0 0 0 1px black, 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.recipe-top {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 2%;
  margin-bottom: 2%;
}

.recipe-left {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.recipe-right img{
  border-radius: 8px;
}

.recipe-filters {
  width: 100%;
  margin-top: -8%;
  display: flex;
  flex-direction: row;
}

.recipe-filters h4 {
  margin-right: 10%;
  font-family: GroteskReg;
  color: #eaecee;
}

.ingredients-wrapper {
  padding-left: 2%;
}

.ingredients-title {
  font-family: GroteskBold;
  font-size: 2rem; 
  font-weight: bold;
  margin-bottom: 10px;
  color: #eaecee;
  margin-top: 0;
}

.ingredients-container {
  padding: 15px;
  border-radius: 8px;
  width: 90%;
  margin-top: -5%;
}

.ingredients-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.ingredients-container li {
  font-family: GroteskReg;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #eaecee;
}

.divider {
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid black;
  top: 100px; /* adjust based on where you want it */
  z-index: 10; /* in case it's hidden behind something */
}

.nutrition-title {
  margin-top: 8%;
  font-size: 2.5rem;
  margin-bottom: 7%;
}

.nutrition-container {
  width: 100%;
  margin: 20px;
  flex-grow: 1;
  word-wrap: break-word;
  margin-top: -1%;
}

/* .nutrition-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
} */

.nutrition-ingredient-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: space-between;
  align-content: center;
  justify-content: center;
  gap: 5vw;
  margin-top: -5%;
}

.nutrition-ingredients {
  width: 22%;
  margin-left: 5%;
}

.nutrition-list {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 0;
}

.nutrition-list li {
  width: 30%;
  font-size: 1.1rem;
  margin: 5px 0;
  font-weight: normal;
}

.nutrition-list li.bold,
.nutrition-list .total-calories {
  font-weight: bold;
}

.health-evaluation-title {
  font-size: 2.5rem;
  margin-top: 8%;
  margin-bottom: 9px;
}

.health-evaluation-container {
  margin: 20px;
}

.health-evaluation-content {
  font-size: 1.2rem;
  line-height: 1.8;
  display: flex;
  flex-direction: row;
  align-items: flex-start; 

  display: flex;
  flex-wrap: wrap;
}

.health-rating {
  width: 10%;
  font-size: 3rem;
  font-weight: bold;
  justify-self: center;
  align-items: center;
  text-align: center;

  /* brute force the centering */
  margin-top: -0.5%;
  margin-left: 44.5%;
  border: 2px solid black;
  border-radius: 1000px;
}


.health-section.strengths, .health-section.weaknesses {
  width: 35%;
  min-height: 30vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 2.5vw;
  margin-top: -1%;
  margin-left:5%;
  margin-right:5%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .health-section.strengths {
  background-color: #63cb8e;
}

.health-section.weaknesses{
  background-color: #f56c8e;
} */

.health-section.suggestions-for-improvement .health-section-title{
  margin-top: 50px;
}

.health-section.suggestions-for-improvement {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.health-section-title{
  font-weight: bold;
  font-family: GroteskBold;
  font-size: 1.5rem;
  margin-bottom: -10px;
  text-align: center;
}

.health-list-item {
  font-weight: normal;
  font-family: GroteskReg;
  list-style-type: none;
  margin-left: 20px;
}

.health-text {
  margin-bottom: 10px;
}

.ingredient-substitutions-title {
  font-family: GroteskBold;
  font-size: 2.5rem;
  margin-top: 8%;
  margin-bottom:-1%;
}

.ingredient-substitutions-list h4 {
  font-family: GroteskBold;
  font-size: 1.5rem;
  margin-bottom: -1%;
}

.ingredient-substitutions-container {
  margin: 20px;
}

.ingredient-substitutions-list {
  font-size: 1.2rem;
  list-style-type: none;
  font-family: GroteskReg;
  margin-bottom: 2vh;
}

.ingredient-substitution-item {
  margin-bottom: 10px;
}

.addButton:hover::after {
  content: "Include these ingredients in the recipe.";
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: GroteskReg;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
}

.removeButton:hover::after {
  content: "Exclude these ingredients from the recipe.";
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: GroteskReg;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
}



