body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272e42;
  overflow-y: scroll;
}


html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

button {
  cursor: pointer;
}

.home-container {
  width: 100vw; 
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.home-container h1 {
  font-size: min(max(7vw, 70px), 90px);
  color: rgb(7, 8, 15);
}

.home-container button {
  background-color: #b5bbc2;
  border: 1px solid #b5bbc2;
  border-radius: 8px;

  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: min(max(-6vw, -10px), -40px);
  transition: background-color 0.3s;
}

.home-container button a {
  color: rgb(32, 29, 29);
  font-size: min(max(2vw, 18px), 25px);
  text-decoration: none;
  font-weight: bold;
}

/*TODO: CHANGE THE COLOUR OF NAVLINK*/
.home-container NavLink {
  color: #b5bbc2;
}

.home-container .active-link {
  color: #d0cfce; 
  font-weight: bold;
}

.home-container p {
  color: #b5bbc2;
}

.home-container button:hover {
  background-color: rgba(165, 165, 165, 0.3); 
  border: 1px solid rgba(165, 165, 165, 0.3);
}

/*------------------------*/

.form-container {
  width: 100vw; 
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-image: url('./images/halfPattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.filter-bar {
  background-color: rgb(35, 30, 26);
  width: min(max(80%, 200px), 900px);
  height: min(max(15%, 50px), 70px);

  margin-bottom: 10px;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; 
}

.filter-bar button {
  font-size: min(max(0.5vw, 15px), 25px);
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  
  opacity: 0.5; 
  transition: background-color 0.3s, opacity 0.3s;
}

.filter-bar button.selected {
  opacity: 1;
}

.filter-bar button:hover {
  opacity: 1; 
  cursor: pointer;
}

.filter-bar button:focus {
  outline: none;
}

.filter-bar p {
  font-size: min(max(1.3vw, 13px), 15px);
  color: white;
}

.filter-nationality {
  height: 30px;
  align-self: center;
  margin-left: 3px;
}

.filter-bar input{
  width: 30px;
  height: 25px;
  align-self: center;
  margin-left: 3px;
}

.form-input {
  width: min(max(80%, 200px), 900px);
  height: min(max(30%, 100px), 200px); /* height: min(max(60%, 100px), 400px); for full size */
}

.submit-button {
  background-color: #eaecee;
  border: 1px solid #eaecee;
  border-radius: 8px;

  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 1%;
  transition: background-color 0.3s;
}

.submit-button a{
  font-size: min(max(1.3vw, 15px), 25px);
}

.submit-button:hover {
  background-color: rgba(165, 165, 165, 0.3); 
  border: 1px solid rgba(165, 165, 165, 0.3);
}

.form-submit {
  width: 100vw; 
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center; 
  background-image: url('./images/fullPattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*------------------------*/

.learn-container {
  width: 100vw; 
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-image: url('./images/shortPattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.learn-container h1 {
  font-size: min(max(5vw, 50px), 90px);
}

.learn-instructions {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.instruction-container{
  width: 23vw;
  height: 45vh;
  background-color: rgb(72, 76, 85);

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

/*------------------------*/

.logo-container {
  width: 100%;
  height: 8vh;
  background-color: #272e42;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  position: fixed;
  padding-left: 2vw;
}

.logo-container img {
  width: min(max(5%, 50px), 70px);
}

/*------------------------*/

.result-container {
  background-color: #eaecee;
  width: min(max(60%, 200px), 900px);
  height: min(max(30%, 200px), 300px);
  border-radius: 8px;
  margin: 20px;

  display: flex;

  transition: transform 0.3s ease;
}

.result-container:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.result-left {
  width: 60%;
  margin-inline: 5%;
  margin-top: 4%;

  display: flex;
  flex-direction: column;
}

.result-right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 5%;
}

.result-image {
  width: 100%;
  max-width: 400px; 
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.result-filters {
  width: 100%;
  margin-top: -8%;
  
  display: flex;
  flex-direction: row;
}

.result-filters h4{
  margin-right: 10%;
}

.result-ingredients {
  width: 100%;
  
  display: flex;
  flex-direction: row;
}

/*------------------------*/
.recipe-page {
  width: 100vw; 
  height: 110vh;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-image: url('./images/halfPattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.recipe-title {
  font-size: min(5vw, 60px);  
  font-weight: bold;
  text-align: left;  
  margin-top: 10px;
}

.recipe-title a {
  text-decoration: none; 
  color: #333; /* Darker color */
  transition: color 0.3s ease-in-out; 
}

.recipe-title a:hover {
  color: #ff6347; 
}


.recipe-container {
  width: 60%; 
  padding: 5%;
  height: 90vh;
  background-color: #eaecee;
  border-radius: 8px;
  margin-top: 8vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.recipe-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Ensures content spreads evenly */
  align-items: center;
}
.recipe-left {
  width: 60%;

  display: flex;
  flex-direction: column;
}

.recipe-filters {
  width: 100%;
  margin-top: -8%;
  
  display: flex;
  flex-direction: row;
}

.recipe-filters h4{
  margin-right: 10%;
}

.ingredients-title {
  font-size: min(6vw, 40px);  /* Make title bigger */
  font-weight: bold;
  margin-bottom: 10px; /* Add space below title */
  color: #333; /* Dark text */
}

.ingredients-container {
  padding: 15px;
  border-radius: 8px;
  width:90%;
  max-width: 600px; /* Control width */
}

.ingredients-container ul {
  list-style-type: disc; /* Standard bullet points */
  padding-left: 20px; /* Proper spacing */
}

.ingredients-container li {
  font-size: min(4vw, 25px); /* Slightly smaller than title */
  line-height: 1.5; /* Better readability */
  color: #333; /* Slightly softer text */
}

.nutrition-container {
  margin-top: 100px;
  flex-grow:1;
  width: 100%;
  word-wrap: break-word;
}