/* Free font: https://www.dafont.com/good-brush.font?text=Miso+Hungry*/
@font-face {
  font-family: Brush;
  src: url('./fonts/brush.ttf')
}

@font-face {
  font-family: Marimpa;
  src: url('./fonts/Marimpa.ttf')
}

@font-face {
  font-family: GroteskBold;
  src: url('./fonts/Grotesk.ttf')
}

@font-face {
  font-family: GroteskReg;
  src: url('./fonts/GroteskReg.ttf')
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272e42;
  overflow-y: scroll;
}


html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

button {
  cursor: pointer;
}

.home-container {
  width: 100vw; 
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.home-container h1 {
  font-size: min(max(10vw, 70px), 150px);
  font-family: Marimpa;
  color: white;
  margin-top: 3vh;
}

.home-container button {
  background-color: #e3e9f0;
  border: 1px solid #b5bbc2;
  border-radius: 8px;

  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: min(max(-10%, -1%), -7.5%);
  transition: background-color 0.3s;
}

.home-container button a {
  color: rgb(32, 29, 29);
  font-family: GroteskBold;
  font-size: min(max(2.5vw, 18px), 25px);
  text-decoration: none;
  font-weight: bold;
}

.home-container .active-link {
  color: #d0cfce; 
  font-weight: bold;
}

.home-container p {
  color: #b5bbc2;
}

.home-container button:hover {
  background-color: rgba(165, 165, 165, 0.3); 
  border: 1px solid rgba(165, 165, 165, 0.3);
}

.home-container a {
  color: white;
}

.home-container a:hover {
  color: darkred;
}

/*------------------------*/

/* Added rule for diet-filter buttons */
.filter-bar .filter-button.diet-filter {
  width: 120px;
  justify-content: center;
}

.input-box {
  background-color: rgb(35, 30, 26);
  height: 40vh;
  width: 80vw;
  gap: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.input-box h1 {
  color: white;
  font-family: Marimpa;
}

.input-search {
  display: flex;
  flex-direction: row;
  height: 30px;
  gap: 20px;
}

.input-ingredients,
.input-button {
  height: 100%;
  box-sizing: border-box;
}

.input-ingredients {
  width: 50vw;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  caret-color: transparent;
}

.input-button {
  height: 100%; 
  width: 80px;
  border-radius: 10px;
  font-family: Marimpa;
}

.addButton {
  background-color: #2ecc71;
  border-color: #2ecc71;
  position: relative;
}

.removeButton {
  background-color: #FA003F;
  border-color: #FA003F;
  position: relative;
}

.form-container {
  width: 100vw; 
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-image: url('./images/halfPattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.filter-bar {
  background-color: rgb(35, 30, 26);
  width: min(max(60%, 200px), 1000px);
  height: min(max(15%, 50px), 70px);
  font-family: GroteskReg;

  margin-bottom: 10px;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; 
}

.filter-bar .filter-button {
  height: 47px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-family: GroteskReg;
  padding: 5px 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.filter-bar button {
  font-size: min(max(0.5vw, 15px), 25px);
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  
  opacity: 0.5; 
  transition: background-color 0.3s, opacity 0.3s;
}

.filter-bar button.selected {
  opacity: 1;
}

.filter-bar button:hover {
  opacity: 1; 
  cursor: pointer;
}

.filter-bar button:focus {
  outline: none;
}

.filter-bar p {
  font-size: min(max(1.3vw, 13px), 15px);
  color: white;
}

.filter-nationality {
  height: 47px;
  align-self: center;
  margin-left: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px 10px;
  font-family: GroteskReg;
  font-size: 14px;
  box-sizing: border-box;
}

.filter-cal {
  height: 47px !important;
  width: 110px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px 10px;
  font-family: GroteskReg;
  font-size: 14px;
  -moz-appearance: textfield;
  box-sizing: border-box;
  text-align: center;
}

.filter-cal::-webkit-outer-spin-button,
.filter-cal::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input {
  width: min(max(60%, 200px), 1000px);
  height: min(max(30%, 100px), 200px); /* height: min(max(60%, 100px), 400px); for full size */
}

.submit-button {
  background-color: #eaecee;
  border: 1px solid #eaecee;
  border-radius: 8px;

  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 1%;
  transition: background-color 0.3s;
}

.submit-button a{
  font-size: min(max(1.3vw, 15px), 25px);
}

.submit-button:hover {
  background-color: rgba(165, 165, 165, 0.3); 
  border: 1px solid rgba(165, 165, 165, 0.3);
}

.form-submit {
  width: 100vw; 
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center; 
  background-image: url('./images/fullPattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-container p {
  color: #e3e9f0;
  font-family: Marimpa;
}

/*------------------------*/

.learn-container {
  width: 100vw; 
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-image: url('./images/shortPattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.learn-container h1 {
  font-size: min(max(10vw, 70px), 70px);
  color: white;
  font-family: Marimpa;
}

.learn-instructions {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.instruction-container{
  width: 20vw;
  margin-top: -4%;
  aspect-ratio: 9/16;
  background-color: rgb(72, 76, 85);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.learn-container a {
  color: white;
}

.learn-container a:hover {
  color: darkred;
}

/*------------------------*/

.logo-container {
  width: 100%;
  height: 8vh;
  background-color: #272e42;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  position: fixed;
  padding-left: .5vh;
  padding-top: .5vh;
}

.logo-container img {
  width: min(max(5%, 50px), 70px);
  padding-left: .5vh;
  padding-top: 1vh;
}

/*------------------------*/

.result-container {
  background-color: #eaecee;
  width: min(max(50%, 200px), 900px);
  max-height: 180px;
  border-radius: 8px;
  padding: 2%;
  margin-top: -40px;
  margin-bottom: 60px;
  font-family: GroteskBold;

  display: flex;
  transition: transform 0.3s ease;
}

.result-container:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.result-left {
  width: 60%;
  display: flex;
  margin-inline: 5%;
  font-size: 2vh;
  flex-direction: column;
  justify-content: center;
}

.result-left a {
  text-decoration: none;
}

.result-right {
  width: 40%;
  display: flex;
  margin-inline: 5%;
  justify-content: center;
  align-items: center;
  margin-inline: 5%;
}

.result-image {
  width: 100%;
  max-height: 10px; 
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.result-filters {
  width: 100%;
  margin-top: -8%;
  
  display: flex;
  flex-direction: row;
}

.result-filters h4{
  margin-right: 10%;
}

/*------------------------*/
.recipe-page {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./images/halfPattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.recipe-title {
  font-size: min(5vw, 60px);
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
}

.recipe-title a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.recipe-title a:hover {
  color: #ff6347;
}

.recipe-container {
  width: 60%;
  padding: 5%;
  background-color: #eaecee;
  border-radius: 8px;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
  height: auto;
}

.recipe-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recipe-left {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.recipe-filters {
  width: 100%;
  margin-top: -8%;
  display: flex;
  flex-direction: row;
}

.recipe-filters h4 {
  margin-right: 10%;
}

.ingredients-title {
  font-size: 2rem; 
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  margin-top: 0;
}

.ingredients-container {
  padding: 15px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
}

.ingredients-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.ingredients-container li {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
}

.nutrition-container {
  margin: 20px;
  flex-grow: 1;
  width: 100%;
  word-wrap: break-word;
}

.nutrition-container h1 {
  font-size: 2rem;
}

.nutrition-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.nutrition-list {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 0;
}

.nutrition-list li {
  font-size: 1.1rem;
  margin: 5px 0;
  font-weight: normal;
}

.nutrition-list li.bold,
.nutrition-list .total-calories {
  font-weight: bold;
}

.health-evaluation-container {
  margin: 20px;
}

.health-evaluation-title {
  margin-bottom: 9px;
}

.health-evaluation-content {
  font-size: 1.2rem;
  line-height: 1.8;
}

.health-rating {
  font-size: 3rem;
  font-weight: bold;
  margin: 50px;
}

.health-section-title {
  font-weight: bold;
}

.health-list-item {
  list-style-type: decimal;
  margin-left: 20px;
}

.health-text {
  margin-bottom: 10px;
}

.ingredient-substitutions-container {
  margin: 20px;
}

.ingredient-substitutions-list {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 0;
}

.ingredient-substitution-item {
  margin-bottom: 10px;
}

.addButton:hover::after {
  content: "Include these ingredients in the recipe.";
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: GroteskReg;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
}

.removeButton:hover::after {
  content: "Exclude these ingredients from the recipe.";
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: GroteskReg;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
}
